body
{
  background: black;
  color: white;
}

a, a:visited, a:active
{
  color: yellow;
}

a:hover
{
  color: white;
}

.logo
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  margin-top: -250px;
}