<!DOCTYPE html>
<html>
  <head>
    <title>ReactiveRaven.co.uk</title>
    <style>
      body
      {
        background: black;
        color: white;
      }
      
      a, a:visited, a:active
      {
        color: yellow;
      }
      
      a:hover
      {
        color: white;
      }
      
      .logo
      {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        margin-left: -250px;
        margin-top: -250px;
      }
    </style>
  </head>
  <body>
    <img src="/images/rrlogowhite.png" class="logo" />
    <!-- 
      much better, no?
      A nice, oblique logo.
    
      by the way, if you want to contact me try:
      twitter @reactiveraven
      email   reactiveraven @gmail.com
    -->
  </body>
</html>
